.container {
    vertical-align: middle;
    padding-top: 5vh;
    font-size: 5em;
    line-height: 2.3em;
}

.muted {
    color: grey;
    font-size: 0.5em;
    line-height: 1.5em;
}

@font-face {
  font-family: "Fira Sans";
  src: url("firasans-light.eot");
  src: local("Fira Sans Regular"), url("firasans-light.woff") format("woff"), url("firasans-light.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}
